body {
  width: 95%;
  margin: auto;
}

body::after {
  content: "";
  background: url('https://theorris.files.wordpress.com/2012/08/fruits_8.jpg') no-repeat center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.brandName {
  color: $brand-color;
  font-family: $skinny-font;
  letter-spacing: 1em;
  font-size: 4em;
  font-weight: 800;
  text-align: center;
}

.mealInfo p {
  display: none;
}

.selected p {
  display: block;
}
