body {

  margin: auto;
}

body::after {
  content: "";
  background: url('https://theorris.files.wordpress.com/2012/08/fruits_8.jpg') no-repeat center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: auto;
}

.brandName {
  @include size(auto, auto);
  align-self: center;
  border: 1px solid black;
  margin: 150px auto;
  @include font($skinny-font, 2em, $brand-color);
  letter-spacing: 1em;
  padding-left: 1em;
  // text-align: center;
}

meal-list {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid yellow;
  @include size(100%, auto);
    select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   @include size(200px, 50px);
   @include font($uppercase-font);
   background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png") no-repeat;
   background-position: 90% 60%;
   background-size: 30px;
   padding-left: 15px;
   border-radius: 0;
  }
}

.meal-form {
  border: 1px solid red;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 25px auto;
  @include font($skinny-font);
  h2 {
    @include font($uppercase-font, 1.8em, $brand-color);
    font-weight: normal;
    margin-top: 0;
  }
  input {
    @include size(300px, 40px);
    margin: 4px auto;
  }
  button {
    @include size(150px, 40px);
    margin: 4px auto;
    @include font($uppercase-font);
    background: rgba(0,0,0,0.00);
    border: 1px solid #aaa;
  }

}
.mealInfo p {
  display: none;
}

.selected p {
  display: block;
}
