
meal-list {
  background-color: rgba(white, 0.5);
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  @include size(100%, auto);
  @media screen and (min-width: 800px){
    width: 80%;
    margin: auto;
    padding:20px;
  }
  select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   @include size(200px, 50px);
   @include font($uppercase-font);
   //image is for caret in drop down must be positioned
   background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png") no-repeat;
   background-position: 90% 60%;
   background-size: 30px;
   padding-left: 15px;
   border-radius: 0;
   border: 1px solid $text-color;
  }
}

.meal-form {
  @extend %form;
}

.meal-edit-form {
  @extend %form;
  .editArea {
    max-width: 850px;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    .detailsInput {

    }
  }
  label {
    width: 250px;
    align-self: center;
    font-size: 1.2em;
    @media screen and (min-width: 800px) {
      padding-left: 50px;
    }
  }
}
