.today {
  @include font($skinny-font, 2em);

}

meal-display {
  h3 {
    @include font($uppercase-font, 1.5em);
    font-weight: normal;
    margin-bottom: 0;
  }
  .mealInfo {
    @include font($skinny-font, 1.2em);
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    margin-top: 0px;
    button {
      @extend %button;
      @include size(150px, 30px);
      align-self: flex-end;
      margin: 0 100px 50px 0;
    }
  }
  &:last-child {
    margin-bottom: 100px;
  }
}
.mealsInList {
  border-bottom: 1px solid black;
}
