// $skinny-font: 'Poiret One', cursive;

// $serif-font: 'Playfair Display', serif;

$uppercase-font: 'Cinzel', serif;

$skinny-font: 'Palanquin', sans-serif;

$background-color:  #e6f3ff;

$brand-color: #D5595F;
// #F3DFD3
// #DE938D
//
// 8DC6C2
$text-color: #051715;
