$skinny-font: 'Poiret One', cursive;

$serif-font: 'Playfair Display', serif;

$uppercase-font: 'Cinzel', serif;

$background-color:  #e6f3ff;

$brand-color: #D5595F;
// #F3DFD3
// #DE938D
//
// 8DC6C2

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin font($family, $size:1em, $color:black){
  font-family: $family;
  font-size: $size;
  color: $color;
}
